# 大文件
*.csv
!taobao-user-behavior/data/*.csv
!uk-online-retail/data/*.csv

# 原始数据文件（太大）
uk-online-retail/data/clear_date.csv

# Tableau
*.twbx

# Python
__pycache__/
*.pyc

# 系统文件
.DS_Store
Thumbs.db
